button, input[type="button"], input[type="reset"], input[type="submit"], .button, .entry-content .button {
    background: #22566b;
    /* border-radius: 3px; */
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Spinnaker',sans-serif;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
    font-weight: normal;
    text-shadow: none;
    font-size: 14px;
    line-height: 20px;
}
.container {
    margin:auto;
    max-width:500px;`
}
.button-container button {
    width: 20px;
    height: 20px;
    transition: all .3s ease;
    margin-bottom: 10px;
}
.button-container button:hover {
    opacity: .6;
}
.asia-button {
    width:20px;
    background-image: url('images/adventure-asia-background-th.jpg');
}
.clouds-button {
    width:20px;
    background-image: url('images/adventure-clouds-dawn-th.jpg');
}
.aurora-button {
    width:20px;
    background-image: url('images/aurora-borealis-th.jpg');
}
.conifer-button {
    width:20px;
    background-image: url('images/clouds-conifer-daylight-th.jpg');
}
img#change-image {
    width: 500px;
}
